.firstPage_container{
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   /* border: 2px solid red; */
}
.monkeyImg{
    width: 30%;
    height: 65%;
    display: flex;
    /* border: 2px solid black; */
}
.monkeyImg img{
    width: 100%;
    height: 100%;
}
.msg_Box{
    width: 27%;
    height: 25%;
    position: absolute;
    top: 2rem;
    right: 18rem;
    /* border: 2px solid red; */
}
.msg_Box img{
    width: 100%;
    height: 100%;
}
.welcome_kiddo{
    text-align: center;
    position: absolute;
    top: 2rem;
    right: 4rem;
    color: rgb(17,174,198);
    /* border: 2px solid red; */
}
.start_btn{
    width: 15%;
    height: 11%;
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    /* border: 2px solid red; */
}
.start_btn img{
    width: 100%;
    height: 100%;
}

.start_btn img:active {
  transform: translateY(5px);
  transition: 200ms;
}

  
  